include README.md
include LICENSE
include pyproject.toml

include CMakeLists.txt

graft include
graft internal

recursive-include src *.c *.cu

recursive-include python_bindings *.cpp CMakeLists.txt

graft python

recursive-include docs *.md

global-exclude *.py[cod] __pycache__ .DS_Store *.so *.dll *.o *.obj
global-exclude .vscode